---
import Layout from '../layouts/Layout.astro';
---

<Layout title="blog" description="Pagina de tienda de guitarras">
	<main class="contenedor">
		<h1 class="heading">blog</h1>	
	</main>
</Layout>

<style>

</style>
