---
import Layout from '../layouts/Layout.astro';
import ComponenteReact from '../components/ComponenteReact'

---

<Layout title="Inicio" description="Pagina de tienda de guitarras">
	<main class="contenedor">
		<h1 class="heading">hello astro</h1>	

		<ComponenteReact client:load />
	</main>
</Layout>

<style>

</style>
